body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
        /* position: relative; */
        letter-spacing: 3.5rem;
        margin-left: 3.5rem;
        /* opacity: 70%; */
        display: block;
        /* width: 100%; */
        font-size: 6rem;
        font-weight: 400;
        animation-name: move-left;
        animation-duration: 1s;
    }

    &--sub {
        /* position: relative; */
        font-size: 2rem;
        display: block;
        font-weight: 900;
        letter-spacing: 1.75rem;
        /* letter-spacing: 1rem; */
        /* margin-left: -20px; */
        /* width: 100%; */
        margin-left: 1.75rem;
        animation-name: move-right;
        animation-duration: 1s;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    display: inline-block;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}